body {
    background: #64DE89;
}

div#main {
    margin-left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: #4B296B;
}

.head {
    font-weight: bold;
    font-size: 16pt;
    color: #4B296B;
}

th {
    color: #4B296B;
}

div.two-inline-blocks {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div.with-input:hover{
    box-shadow: 0 0 13px 2px;
    border-radius: 3px;
    text-decoration: none;
}

a {
    color: black;
}

a:hover{
    box-shadow: 0 0 13px 2px;
    border-radius: 3px;
    text-decoration: none;
}

img {
    border-radius: 50%;
}

tr:not(.label):hover {
    background: #d1d1d1;
}

select {
    background: #badeae;
    border-radius: 6px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

button {
    background: #badeae;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px;
    background: radial-gradient(white, #84de82);
    cursor: pointer;
}

input {
    background: #badeae;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

input[type='radio']:after {
     width: 10px;
     height: 10px;
     border-radius: 10px;
     left: -1px;
     position: relative;
     background-color: #badeae;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
}

input[type='radio']:checked:after {
    background-color: #FF8673;
}

input[type='checkbox']:after {
    width: 10px;
    height: 10px;
    left: -1px;
    position: relative;
    background-color: #badeae;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox']:checked:after {
    background-color: #FF8673;
}









